<!-- announcement.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Announcement</title>
  <link rel="stylesheet" href="{% static 'css/announcement.css' %}">
</head>
<body>
  <h1 style="font-weight: 600; font-style: italic; font-size: 40px; color: #1B1F27;">Announcement</h1>
  <div class="announcement-section">
    <div class="announcement-card">
      <h2>Title: {{ latest_announcement.title }}</h2>
      <p>Content: {{ latest_announcement.content }}</p>
      {% if latest_announcement.target_class == None%}
          <p>For: all</p>
      {% else %}
      <p>For: {{ latest_announcement.target_class.name }}</p>
      {% endif %}
      <span class="timestamp">Timestamp: {{ latest_announcement.timestamp }}</span>
      <button class="view-all-button" onclick="loadContent('announcement_table')">View All > </button>
    </div>
    <div class="add-announcement-card">
      <h2>Add Announcement</h2>
      <form action="{% url 'announcements:announcement-list' %}" method="post">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Title">
        <label for="content">Content:</label>
        <textarea id="content" name="content" placeholder="Content"></textarea>
        <label for="target_class">Class:</label>
        <select id="target_class" name="target_class">
          <option value="">For all</option>
          {% for class_obj in classes %}
            <option value="{{ class_obj.id }}">{{ class_obj.name }}</option>
          {% endfor %}
        </select><br>
        <button type="submit">Post</button>
      </form>
    </div>
  </div>
</body>
</html>
